body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

header {
    border-radius: 10px;
    border: 5px solid #0032a1;
    background-color: #0032a1;
    text-align: center;
    color: white;
    width: 99%;
}

table {
    width: 100%;
}

table,
th {
    border: 2px double black;
    font-size: 24px;
}

table,
td {
    border: 1px solid black;
    font-size: 20px;
}

.blue{
    background-color: #0032a1;   
    color: white;
}

.emphasize {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

section{
    border-radius: 10px;
    border: 5px solid #0032a1;
    background-color: #0032a1;
    text-align: center;
    color: white;
    width: 99%;
}
